body {background-color: #303030;}
h1{
    color: #80bd01;
    text-align: center;
}

div#overlay{
    position: absolute;
    width: 100%;
    height:100%;
    top:0px;
    left:0px;
    background:black;
    opacity: 0.85;
    transition: opacity 1s ease-in;
}


div#overlay.hidden, img#big-image.hidden, div#next.hidden, div#prev.hidden
{ opacity: 0; left:-200%; }

li.lightbox img
{
    height: 200px;
    border-radius: 5px;
}
li.lightbox{ display: inline-block; margin: 10px; }
ul
{
    background-color: #1d1d1d;
    border-radius: 5px;
}

div#prev.showing
{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 20%;
    top: 43%;
    background-color: #5f5f5f;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 1s ease-in;
}
div#next.showing
{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20%;
    top: 43%;
    background-color: #5f5f5f;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 1s ease-in;
}

#big-image.showing{
    max-width: 80%;
    max-height:90%;
    position:absolute;
    background-color: #5f5f5f;
    border-radius: 5px;
    padding: 5px;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    transition: opacity 1s ease-in;
}
